<a herf="page1.html"target="main-frame">페이지 1</a><!--왼쪽 사이드의 링크-->
  <iframe name="main-frame" src="home.html"> <!-- 중앙 영역에 설정--> 
<div class="container">
  <header class="box">상단(Header)</header>

  <div class="middle-group">
    <aside class="box side">좌측(Aside)</aside> 
    <main class="box center">중앙(Main - 나만늘어남) </main> 
    <aside class="box side">우측(Aside)</aside>
  </div>
<div class="middle-container">
  <aside class="item">1</aside>
  <main class="middle-item">2</main>
  <aside class="item">3</aside> 
</div> 
